@import url('https://fonts.googleapis.com/css?family=Noto + Sans + KR');

@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/Sofia-Pro-Regular.woff') format('woff');
  /* Add more font formats if necessary */
  /* Add additional font properties as desired, such as font-weight and font-style */
}

body {
  font-family: 'Sofia Pro', sans-serif;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border-top: 4px solid #6a5acd; /* Primary color for the loader */
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
